[submodule "luv"]
	path = deps/luv
	url = https://github.com/luvit/luv.git
[submodule "lua-openssl"]
	path = deps/lua-openssl
	url = https://github.com/zhaozg/lua-openssl.git
[submodule "bitop"]
	path = deps/bitop
	url = https://github.com/luvit/bitop.git
[submodule "src/lib/pretty-print"]
	path = src/lib/pretty-print
	url = https://github.com/creationix/luv-pretty-print.git
[submodule "src/lib/coro-channel"]
	path = src/lib/coro-channel
	url = https://github.com/creationix/luv-coro-channel.git
[submodule "src/lib/coro-net"]
	path = src/lib/coro-net
	url = https://github.com/creationix/luv-coro-net.git
[submodule "src/lib/http-codec"]
	path = src/lib/http-codec
	url = https://github.com/creationix/luv-http-codec.git
[submodule "src/lib/coro-http"]
	path = src/lib/coro-http
	url = https://github.com/creationix/luv-coro-http.git
[submodule "src/lib/coro-tls"]
	path = src/lib/coro-tls
	url = https://github.com/creationix/luv-coro-tls.git
[submodule "src/lib/coro-wrapper"]
	path = src/lib/coro-wrapper
	url = https://github.com/creationix/luv-coro-wrapper.git
[submodule "src/lib/json"]
	path = src/lib/json
	url = https://github.com/creationix/luv-json.git
[submodule "src/lib/mime"]
	path = src/lib/mime
	url = https://github.com/creationix/luv-mime.git
[submodule "src/lib/coro-fs"]
	path = src/lib/coro-fs
	url = https://github.com/creationix/luv-coro-fs.git
[submodule "src/lib/querystring"]
	path = src/lib/querystring
	url = https://github.com/creationix/luv-querystring.git
[submodule "src/lib/websocket-codec"]
	path = src/lib/websocket-codec
	url = https://github.com/creationix/luv-websocket-codec.git
[submodule "src/lib/path"]
	path = src/lib/path
	url = https://github.com/creationix/luv-path.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/luvit/openssl.git
